bin/Debug/net7.0/Laba_1.deps.json
bin/Debug/net7.0/Laba_1.dll
bin/Debug/net7.0/Laba_1.exe
bin/Debug/net7.0/Laba_1.pdb
bin/Debug/net7.0/Laba_1.runtimeconfig.json
obj/Laba_1.csproj.nuget.dgspec.json
obj/Laba_1.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/Laba_1.assets.cache
obj/Debug/net7.0/Laba_1.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Laba_1.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Laba_1.dll
obj/Debug/net7.0/Laba_1.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Laba_1.genruntimeconfig.cache
obj/Debug/net7.0/Laba_1.pdb
obj/Debug/net7.0/ref/Laba_1.dll
obj/Debug/net7.0/refint/Laba_1.dll
obj/Laba_1.csproj.nuget.dgspec.json
obj/Laba_1.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/Laba_1.assets.cache
obj/Debug/net7.0/Laba_1.GeneratedMSBuildEditorConfig.editorconfig
obj/Laba_1.csproj.nuget.dgspec.json
obj/Laba_1.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/Laba_1.assets.cache
obj/Debug/net7.0/Laba_1.GeneratedMSBuildEditorConfig.editorconfig
Laba_1.sln
obj/Laba_1.csproj.nuget.dgspec.json
